.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', monospace;
  font-size: 20px;
  z-index: 9999;
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}


.login-prompt {
  position: relative;
  animation: blink 2s linear infinite;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

.login-prompt span {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.login-prompt span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.login-prompt span:hover::before {
  animation: rainbow 2s infinite;
  animation-delay: 0s, 3s
}

@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: lime; }
  57% { color: cyan; }
  71% { color: blue; }
  85% { color: magenta; }
  100% { color: red; }
}


.loading-text {
  position: relative;
  text-align: center;
  display: inline-block;
  animation: blink 2s linear infinite;
}



.loading-text span {
  position: relative;
  display: inline-block;
  cursor: none;
}

.loading-text span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.loading-text span:hover::before {
  animation: rainbow 2s infinite;
}

@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: lime; }
  57% { color: cyan; }
  71% { color: blue; }
  85% { color: magenta; }
  100% { color: red; }
}

