/* general styles */

/* background */
body {
  display: block;
  min-height: 100vh; /* Asegurar que el body tenga un mínimo de altura igual a la ventana del navegador */
  min-width: 100vw; /* Asegurar que el body tenga un mínimo de ancho igual a la ventana del navegador */
  background-image: url(./assets/the-wallpaper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-position: center;
  overflow: auto;
  z-index: 1;
  font-family: 'IBM Plex Mono', monospace;
}

body::after {
  content: "";
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGElEQVQYlWNgYGD4z8DAwMgABVgAn38XQLAVNQkAAAAASUVORK5CYII=');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.3;
  background-size: 8px 8px;
}
